body {
    background-color: rgb(156, 153, 158);
}
p {
    text-align: center;
}
h1 
{text-align: center;
}
b {
    color:  rgb(156, 153, 158);
}
body{}

header
{background-color:   rgb(86, 86, 87);
}

main{
    background-color:  rgb(86, 86, 87);
}

footer
{background-color:  rgb(156, 153, 158);
}


#banner 
{width: 70%;
     margin: 0 0 0 50px;
}
.container {
    text-align:center
}

.principal {
    background-color: rgb(86, 86, 87);
}