body {background-color: rgb(255, 255, 255);}
p {text-align: center;}
h1 {text-align: center;}
b {color: rgb(2, 3, 90);}
body

header{background-color: rgb(1, 77, 128);}

main{background-color: rgb(255, 255, 255);}

footer{background-color: rgb(255, 255, 255);}


#banner {width: 70%;}
.container {text-align:center}

.principal {background-color: rgb(4, 78, 112);}

